<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brands</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik Moonrocks">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link href="{{ url_for('static', path='/bootstrap-5.3.2/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', path='/bootstrap-5.3.2/js/bootstrap.bundle.min.js') }}"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="{{ url_for('static', path='/js/app.js') }}"></script>
</head>
<body>
<div class="container">
  <h1>Brands</h1>

  <div x-data="brands()">
    <div x-cloak="true" x-show="showLogin">
      {% include "components/login.html" %}
    </div>

    <div x-cloak="true" x-show="showSettings">
      {% include "components/settings.html" %}
    </div>

    <div x-cloak="true" x-show="showTable" x-transition>
      {% include "components/table.html" %}
    </div>
  </div>

  <script>
    const AUTH_ME_URL = "/auth/me"
    const BRANDS_URL = "/brands/"
    const BRANDS_SETTINGS_URL = "/brands/settings/"

    function brands() {
      return {
        async init() {
          await this.auth()
        },
        async auth() {
          this.user = await (await fetcher(AUTH_ME_URL)
            .then(response => {
              if (response.status === 401) {
                this.showLogin = true
                throw new Error()
              }
              return response
            })).json()

          if (this.user) {
            this.showLogin = false
            this.brands = await (await fetcher(BRANDS_URL)).json()
            this.settingsColumns = await (await fetcher(BRANDS_SETTINGS_URL)).json()
            this.showSettings = true
            this.showTable = true
          }
        },
        user: null,
        showLogin: false,
        showSettings: false,
        showTable: false,
        brands: [],
        search: "",
        extraColumns: {
          "hosts": "Hosts",
          "db_name": "DB Name",
          "status": "Status",
          "created_at": "Created At",
          "updated_at": "Updated At"
        },
        settingsColumns: [],
        selectedExtraColumns: ["hosts", "db_name",],
        selectedSettingsColumns: [],
      }
    }
  </script>
</div>
</body>
</html>