html, body {
  font-family: "Cabin", sans-serif;
}

body {
  overflow-y: scroll;
}

h1, h2, h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Lora", sans-serif;
  font-weight: normal;
  color: deeppink;
}

.bg-default {
  background-color: #F9F7F5 !important;
}

.bg-extra {
  background-color: #F3F9F7 !important;
}

.bg-settings {
  background-color: #F7F3F9 !important;
}

/* Alpine.js */

[x-cloak] {
  display: none !important;
}